@media screen and (max-width: $tablet) {
   #top-arrow {
      font-size: .6rem;
   }

   nav.navbar code {
      font-size: .8rem;
      opacity: .4;
   }

   #hero {
      h1.title {
         font-size: 1.5rem;
      }

      p.subtitle {
         font-size: 1rem;
      }
   }


   #projects h1.title {
      font-size: 1.4rem;
   }

   #aboutme h1.title {
      font-size: 1.4rem;
   }

   #aboutme p {
      font-size: 0.9rem;
   }

   footer.footer a {
      font-size: 1rem;
   }

}

@media screen and (max-width: $desktop) {
   nav.navbar {
      height: 0;
   }

   nav.navbar code {
      margin-left: 0.9rem;
   }

   nav .navbar-burger {
      margin-right: 0.5rem;
   }
}