#top-arrow {
   display: none;
   position: fixed;
   bottom: 2rem;
   right: 2rem;
   z-index: 99;
   border-style: none;
   background-color: transparent;
   border: none;
   outline: none;
}

#top-arrow {
   color: blue;

   :hover {
      color: grey;
      cursor: pointer;
   }
}

nav.navbar {
   height: 4.1rem;
   box-shadow: 0 .5rem .6rem rgba(0, 0, 0, 0.6);
}

nav.navbar code {
   font-size: 1.1rem;
   color: #f1f1f1;
   background-color: transparent;
   font-weight: bolder;
   color: #00ff00;
   opacity: .6;
}