// --------------------------------------
// Global Variables:
// --------------------------------------

// E.g. of overwriting bulma's $primary color:
// $primary: red;

// --------------------------------------
// Font families:
// --------------------------------------
$montserrat: 'Montserrat',
sans-serif;
$montserrat_alternates: 'Montserrat Alternates',
sans-serif;
$caladea: 'Caladea',
serif;
$farwest: 'Ewert',
cursive;
$josefin: 'Josefin Sans',
sans-serif;
$vesper: 'Vesper Libre',
serif;